/* Global styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #a8c0ff, #3f94e1); /* Sejuk dengan gradasi warna biru */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Taskbar */
.taskbar {
  background-color: #005f73;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskbar h1 {
  font-size: 24px;
  margin: 0;
}

.taskbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.taskbar ul li {
  margin: 0 10px;
}

.taskbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.taskbar a:hover {
  color: #ffd700;
}

/* Main content styles */
main {
  padding-top: 60px; /* Memberikan ruang untuk taskbar fixed */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

h1, h2 {
  color: #005f73;
}

button {
  background-color: #005f73;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #003f52;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus, select:focus {
  outline: none;
  border-color: #005f73;
}

#error {
  color: red;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #005f73;
  color: white;
}

/* Table styles */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 8px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tfoot {
  font-weight: bold;
}

/* Error message */
.error {
  color: red;
  font-weight: bold;
}
